
*{
    margin: 0;
    box-sizing: border-box;
    
}


:root{
    --minion-yellow:#FCE029;
    --denim-blue:#2243b6;

}

html{
    scroll-behavior: smooth;
}



/* main navbar */

.main-navbar{
    background-color: var(--denim-blue);
    height:12rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index: 11;
   
}

.left-nav{
    width:20rem;
    margin-left:1rem;
    text-align: center;
    color:var(--minion-yellow);
}

.left-nav img{
    width:100%;
}





.right-nav{
    display: flex;
    margin-right:4rem;
    
}

.navicon-color{
    color:white;
    margin-right: 2rem;
    cursor: pointer;
}

.btn-secondary{
    color:var(--denim-blue);
    background-color: var(--minion-yellow);
    font-weight: 800;
    margin-right: 3rem;
    border: 5px solid  var(--denim-blue);
    border-radius: 2rem;
    
}

.basic-input-textboxes{
    margin-right: 5rem;
   
}



.inp-btn{
    width:60rem;
    height:4rem;
    background-color: white;
   
}
.btns:hover{
    opacity: 0.9 ;
}


.badge-no-of-message{
    background-color: var(--minion-yellow);
    color:var(--denim-blue);

}

.badge-top{
    bottom:4rem;
    left:2rem;
}



/*sliders */

.slider-section
{
    margin-top:12rem;
}

.slider {
    text-align: center;
    max-width: 150rem;
    height: 50rem;
    margin: 0 auto;
    position: relative;
    /* overflow: hidden; */
}  


.content-one{
    text-align: center;
    font-size: 4rem;
    background-color: var(--minion-yellow);
    color:var(--denim-blue);
    height: 50rem;
    padding-top:5rem;
    padding-right: 3rem;
    padding-left:3rem;
    text-shadow: 2px;
    width:120rem;
    font-weight: 800;
    
}


.content-one h1{
    border-bottom: 2px solid var(--denim-blue);
}

.content-one p{
    margin-top:3rem;
}

.content-one button{
    margin-top:70px;
}

.content-one button:active{
    transform:translateX(1rem);
}



.slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50rem;
   
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition: transform 1s; */

}

.slide > img {
    /* Only for images that have different size than slide */
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


 .slider__btn {
    position: absolute;
    top: 50%;
    z-index: 10;
  
    border: none;
    background: var(--denim-blue);
    font-family: inherit;
    color: var(--minion-yellow);
    border-radius: 50%;
    height: 5.5rem;
    width: 5.5rem;
    font-size: 3.25rem;
    cursor: pointer;
  }
  
  .slider__btn--left {
    left: 6%;
    transform: translate(-50%, -30%);
  }
  
  .slider__btn--right {
    right: 6%;
    transform: translate(50%, -50%);
  }


/* FEATURES */

.features{
    display: flex;
    margin-top:8rem;
    justify-content: space-around;
    align-items: center;
    background-color:var(--denim-blue);
    font-size: 3rem;
    min-height:10rem;
    color:white;
  
}

.features .line-one{
    color:var(--minion-yellow);
    transform: rotateZ(90deg);
   
}

/* TRENDING  */


.trending-text{
    text-align: center;
    margin-top:5rem;
    font-size: 5rem;
    color:var(--denim-blue);
}


.trending-text span{
    color:var(--minion-yellow);
}
.trending-cards
{
    margin-top:10rem;
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap:2rem;
}

.card{
    transition: 0.5s;
}


.card:hover{
    transform: scale(1.1);
    cursor: pointer;
}




@media only screen and (max-width: 1150px){

    .left-nav{
        width:15rem;
    }

    .inp-btn{
        width:20rem;
        height:4rem;
        background-color: white;
    }
    

    .navicon-color{
        color:white;
        margin-right: 2rem;
        cursor: pointer;
    }

    .basic-input-textboxes{
        margin-right: 1rem;
       
    }


}


@media only screen and (max-width:640px)
{

    .left-nav{
        width:0;
        visibility: hidden;
    }


    .btn-secondary{
        margin-right: 1rem;
       
    }

}


